[Unit]
Description=The Forgotten Server
After=network.target
Wants=network-online.target mysql.service
After=network-online.target mysql.service

[Service]
Type=simple
ExecStart=/home/otsmanager/forgottenserver/build/tfs
WorkingDirectory=/home/otsmanager/forgottenserver
User=otsmanager
Group=otsmanager
Restart=always
LimitCORE=104857600
LimitNOFILE=8192

[Install]
WantedBy=default.target
